* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 100px;
    color: #363935;
}

/* ----------------------- Hero Image */

.hero-image {
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://res.cloudinary.com/diy7yqm8i/image/upload/v1679822301/pexels-krivec-ales-554609_3_pq2srr.webp');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}

  .hero-image h5 {
    color:white;
    text-shadow:2px 2px #333;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

/* ----------------------- Navbar */

.navbar-brand {
    color: #363935;
    font-size: 22px;
}

.navbar-nav {
    color: #363935;
    font-size: 20px;
}

.navbar-toggler {
    color: #363935;
    font-size: 16px;
    border: none;
}

.navbar-toggler:focus, 
.navbar-toggler:active {
    color: #363935;
    border: none;
    outline: none;
    font-size: 10px;
}

footer {
    background-color: #4b4a2c;
    position: absolute;
}


/* ----------------------- Cards */

.card {
    border: none;
    background-color: transparent;
    float: none;
}

.container-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #4b4a2c;
    color: #fafafa;
}

.level {
    color: #fafafa;
    margin: 4px;
    text-transform: uppercase;
}

.card-title {
    color: #363935;
    margin-top: 10px;
}

.card-title:hover,
.card-title:active {
    color: #7c8379;
    text-decoration: none;
}

.post-link {
    text-decoration: none;
}

.post-link:hover {
    text-decoration: none;
}

.card-text {
    color: #363935;
}

.posted-by {
    font-size: 15px;
}

/* ----------------------- Post detail view */

.masthead {
    background-color: #fafafa;
    margin-top: 10px;
    overflow: hidden;
    display: inline-block;
}

.masthead-text {
    color:  #363935;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    margin-top: 5%;
}


/* ----------------------- Buttons */


.signin {
    background: #e8e1d7;
    margin-top: 20px;
    padding-bottom: 10px;
    color: #363935;
}
.btn-signin {
    background-color: #4b4a2c;
    color: #fafafa;
}

.signout {
    background: #e8e1d7;
    margin-top: 20px;
    padding-bottom: 10px;
    color: #363935;
}

.btn-signout {
    background-color: #4b4a2c;
    color: #fafafa;
}

.signup {
    background: #e8e1d7;
    margin-top: 20px;
    padding-bottom: 10px;
    color: #363935;
}

.btn-signup {
    background-color: #4b4a2c;
    color: #fafafa;
    text-decoration: none;
    padding: 8px;
    font-size: 15px;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #4b4a2c;
    color: #fafafa;
    text-decoration: none;
}

.btn-like {
    background: none;
    border: none;
    color: #c97360;
}

.btn-like:hover,
.btn-like:active {
    color: #c97360;
    background: transparent;
    border: none;
}

.btn-save {
    background: none;
    border: none;
    color: #4b4a2c;
}

.btn-save:hover,
.btn-save:active {
    color: #4b4a2c;
    background: transparent;
    border: none;
}

.update-post {
    display: flex;
    text-align: center;
    padding: 15px;
}


.btn-delete {
    background-color: #7D3B2B;
    color: #fafafa;
    text-decoration: none;
    padding: 8px;
    font-size: 15px;
    margin-left: 10px;
}

.btn-delete:hover,
.btn-delete:active {
    color: #fafafa;
    text-decoration: none;
}

.btn-comments:hover,
.btn-comments:active {
    color: #4b4a2c;
    background: transparent;
    border: none;
}

.btn-landingpage {
    padding: 10px;
}

.pagination {
    color: #4b4a2c;
}

.success {
    margin-top: 10px;
}

/* ----------------------- Footer */

footer {
    height: 100px;
}

footer > p {
    color: #fafafa;
    font-size: 12px;
}

footer .btn {
    font-size: 15px;
}

/* ----------------------- Media Queries
@media screen and (max-width: 375px) {

    .blog {
        margin-top: 200px;
    }
    
    .welcome {
        margin-top: 150px;
        background: #343a40;
    }
    
    } */