{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}

<!-- Only logged in users will be able to add a post -->
{% if user.is_authenticated %}
<div class="container mb-3">
	<div class="row">
		<div class="col-md-8 mt-1 offset-md-2">
			<br>
			<h2 class="text-center text-uppercase">Create Your own post with a Trail you Love</h2>
			<p class="text-center contact">
				Please share your favourite hike with us! In your post you should include the name of the hike, 
				what city it is located in and also tell us a little about the hike. For example: the distance, what type of terrain and
				any other information you would like to share. If you want, please also add an image!
			</p>
			<!-- Success alert when submitted -->
			{% if submitted %} 
			<div class="alert alert-success" role="alert">
				Your post was added and is awaiting approval. Thank you for contributing!
			</div>
			{% else %}
			<div class="container">
				<div class="row">
					<div class="form-group">
						<form method=POST>
							{% csrf_token %}
							{{ form|crispy }}
							<br>
							<hr>
							<input type="submit" value="Submit" class="btn btn-signup">
						</form>
					</div>
				</div>
			</div> 
			{% endif %}
		</div>
	</div>
</div>

{% endif %}
{% endblock %}