{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}


<div class="container mb-3">
	<div class="row">
		<div class="col-md-8 mt-1 offset-md-2">
			<br>
			<h2 class="text-center text-uppercase">Contact us</h2>
			<p class="text-center">
				We appreciate our users opionons and would love to hear from you if you have something
				you would like to tell us. If you have any ideas or other content you would like
				to see on the blog, please let us know! 
			</p>
			<div class="container">
				<div class="row">
					<div class="form-group">
						<form method=POST>
							{% csrf_token %}
							{{ form|crispy }}
							<br>
							<hr>
							<input type="submit" value="Submit" class="btn btn-signup">
						</form>
					</div>
				</div>
			</div> 
		</div>
	</div>
</div>

{% endblock %}