{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% block content %} 


<div class="masthead bg-white">
      <h1 class="list">Hike Trails:</h1>
      {% for x in hikes %}
      <div>
      <div class="row g-0">
        <div class="col-md-6 masthead-text">
          <h1 class="post-title">{{ x.title }}</h1>
          <p class="post-subtitle">{{ x.author }} | {{ x.created_on }}</p>
          <p class="post_subtitle">{{ x.difficulty }}</p>
          <p class="blurb">{{ x.excerpt }}</p>
        </div>
        <div class="d-none d-md-block col-md-4 masthead-image">
          <!-- The featured image URL if there isnt one provided a generic one --> 
          {% if "placeholder" in x.featured_image.url %} 
          <img src="https://res.cloudinary.com/diy7yqm8i/image/upload/v1679322680/hero-image_euvron.jpg" width="100%"> 
          {% else %} 
          <img src=" {{ x.featured_image.url }}" width="100%"> 
          {% endif %} 
          <div class="row">
            <div class="col-1">
              <!-- The number of likes goes before the closing strong tag -->
              <strong class="text-secondary">
                <i class="far fa-heart"></i> {{ post.number_of_likes }}
              </strong>
            </div>
          </div>
        </div>
      </div>
      <div class="container fluid">
        <div class="row">
          <div class="col-md-8 card mb-4 mt-3">
            <h3>Your review:</h3>
            <div class="card-body">
              <!-- comment section -->
              {{ x.content | linebreaks }}
            </div>
          </div>
        </div>
      </div>
      {% if user.is_authenticated %} 
          {% if user.id == x.author.id %}
      <div class="pb-4">
      <!-- Update or review button -->
      <a href="{% url 'update-review' x.id %}" class="btn mb-3 btn-signup btn active">Update Post</a>
      <a href="{% url 'delete-review' x.id %}" class="btn mb-3 btn-outline-danger btn active">Delete Post</a>
      {% endif %}
      </div>
      <hr>
 
     {% else %}
  
  <!-- Warning system to show if you try to delete or amend posts that arent yours-->
  <h2>Access Denied</h2>
  <p>You can only update or delete posts you have created.</p> 
  Logged In User: {{ user }}
  <br> 
  Post Author: {{ x.author }}
  <br> 
  {% endif %} 
  {% endfor %}
</div>
</div> 
  {% endblock %}