{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/diy7yqm8i/image/upload/v1679823656/Optimized-young-fit-woman-hiking-to-the-waterfall-mountain-picjumbo-com_jth7rn.webp"
                                    alt="Woman hiking to the waterfall mountain" width="100%" height="100%">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}"
                                    alt="Image posted by user who created the post" width="100%" height="100%">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="level text-uppercase">Level: {{ post.difficulty }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                                <h2 class="card-title text-uppercase">{{ post.title }} | {{ post.city }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <p class="card-text text-muted h6 posted-by"> {{ post.author }} | {{ post.created_on}}
                                <i class="fa-sharp fa-regular fa-heart btn-like btn-landingpage">
                                    {{ post.number_of_likes }}</i>
                                <i class="fa-regular fa-bookmark btn-save btn-landingpage">
                                    {{ post.number_of_saves }}</i>
                            </p>
                            <hr>
                            <!-- The EDIT and DELETE button will only show on 
                                the posts created by the logged in user -->
                        {% if user.is_authenticated and user == post.author %}
                        <a href="{% url 'edit_post' post.pk %}" type="submit"
                            class="'btn btn-signup text-uppercase">Edit Post</a>
                        {% endif %}
                        {% if user.is_authenticated and user == post.author %}
                        <a href="{% url 'delete_post' post.pk %}" type="submit"
                            class="'btn btn-delete text-uppercase">Delete Post</a>
                        {% endif %}
                        </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>

<!-- Pagination -->
{% if is_paginated %}
<nav aria-label="Page Navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}"> NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
</div>

{% endblock %}